@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  margin: 0;
  padding: 0;

  background: #0f1117;

  color: white;

  font-family: Inter, sans-serif;

  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
